@import url('fonts.css');
@import "tailwindcss";
@plugin "daisyui";

:root {
    --color-bg: #ECF4E8;
    --color-surface: #CBF3BB;
    --color-accent: #0E9AA7;
    --color-text: #0F3A3A;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}
