localhost {
    root * /var/www/html/public

    # Assets Symfony et api platform
    handle /bundles/* {
        file_server
    }

    # pgAdmin
    handle /pgadmin* {
        reverse_proxy pgadmin:80
    }

    # API Symfony
    handle /api* {
        php_fastcgi php:9000
    }

    handle /_profiler* {
        php_fastcgi php:9000
    }

    # Frontend
    handle {
        reverse_proxy node-front:3000
    }
}